[Unit]
Description=Security Monitor collect-metrics (rpi4-1 self metrics)
Documentation=https://github.com/tsystem/security_monitor_2

[Service]
Type=oneshot
User=indo
Group=indo
ExecStart=/bin/bash /home/indo/bin/collect_metrics.sh
StandardOutput=journal
StandardError=journal
